@model AnketYonetimSistemi.Models.StatueModel

@{

    Layout = "~/Views/Shared/Layout.cshtml";
}


<style>
    .updatestatue {
        text-align: center;
        font-size: 40px;
        color: darkgoldenrod
    }
</style>

<div style="margin:auto" class="col-md-10">

    @if (Model.key == true)
    {
        <h2 class="updatestatue">@Model.title İşlemi Başarılı</h2>
    }
    else
    {
        <h2 class="updatestatue">@Model.title İşlemi Başarısız</h2>
    }


</div>


