@model List<Entities.Company>

@{

    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/login-register.css" rel="stylesheet" />



<div style="margin-left:auto;margin-right:auto;margin-top:40px" class="col-md-3">
    <a style="font-size:20px;color:goldenrod;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="/Home/AddCompany">Yeni Firma Ekle</a>
</div>



<style>

    thead tr th {
        color: #004F98;
        font-family: 'Cascadia Code';
    }
</style>

<div style="margin:auto;margin-top:80px" class="col-md-10">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Company Name</th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                int i = 1;
                foreach (var item in Model)
                {

                    <tr>
                        <th style="color: #004F98;font-family:'Cascadia Code'" scope="row">@(i++)</th>
                        <td>@item.CompanyName</td>
                      
                        <td><a href="/Home/CompanyDelete/@item.Id">Sil</a></td>
                        <td><a href="/Home/UpdateCompany/@item.Id">Güncelle</a></td>
                    </tr>
                }


            }








        </tbody>
    </table>

</div>